<!-- main-page.component.html -->

<!-- <h1>Welcome to Gen AI Image Processing App</h1>
<h3> A Gen AI powered app where you can do many interesting stuff on images like turn a picture into cartoon, or a painting or make it colorized or turn it into a live animation. </h3> -->
<!-- <ul>
  <li><a routerLink="/cartoon-yourself">Cartoon Yourself</a></li>
  <li><a routerLink="/live-photos">Live Photos</a></li>
  <li><a routerLink="/photo-to-painting">Photo to Painting</a></li>
</ul> -->

<p> Try one of the above. </p>
